<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399795393016-ne57qe7j91ugnmotnd18si5pqlvn4lif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399795393016-ne57qe7j91ugnmotnd18si5pqlvn4lif</string>
	<key>API_KEY</key>
	<string>AIzaSyD4P-lsU6FGxq22boPHNbhiAbvXOpIfpQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>399795393016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobilenie.SwiftLearn</string>
	<key>PROJECT_ID</key>
	<string>swiftlearn-8243e</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftlearn-8243e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399795393016:ios:936812c82348d7465e860d</string>
</dict>
</plist>